{% extends "layout.html" %} 


{% block head %}
  <title> Sobre - Eduardo Nascimento</title>
{% endblock %}

{% block content %}

<div id="wrapper">
  <img src="https://avatars1.githubusercontent.com/u/13381825?s=460&v=4" alt="Eduardo Nascimento">
  <h1>José Eduardo Batista do Nascimento</h1>
  <h2>Estudante de Engenharia Eletrônica</h2>
  <p>Programador com foco em sistemas embarcados, buscando aprender novas tecnologias.</p> 
</div>

<div id="links-footer" class="links">
  <a href="https://github.com/jebnascimento" target="_blank">Github</a>
  <a href="https://twitter.com/jebnascimento" target="_blank">Twitter</a>
  <a href="https://www.linkedin.com/in/jebnascimento/" target="_blank">Linkedin</a>
</div>
{% endblock %}