:root{
  --color-white: rgb(255, 255, 255);
  --color-rocket:#8a59c1;
}

*{
  padding: 0px;
  border: 0px;
  margin: 0px;
}

body{
  background: #c768fd;
  color: rgba(0, 0, 0, 0.685);
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50px;
}

header{
  padding: 30px;
  background: white;
}

.links{
 text-align: center;
}
.links a{
  color: rgba(0, 0, 0, 0.685);
  font-size: 28px;
  line-height: 30px;
  margin: 40px;
  text-decoration: none;

}
.links a:hover{
  color: var(--color-rocket);
  transition: color 200 ms;
}

#wrapper{
  text-align: center;
  padding: 20px;
}

#wrapper img{
  border-radius: 150px;
  border: 2px solid #be58fa;
  margin-bottom: 10px;
  height: 250px;
}

#wrapper h1{
  letter-spacing: 4px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
}

#wrapper h2{
  color: rgba(0, 0, 0, 0.7);
  padding-top: 10px;
  font-size: 32px;
  line-height: 40px;
  font-weight: normal;
}

#wrapper p{
  color: rgba(0, 0, 0, 0.65);
  padding-top: 20px;
  max-width: 900px;
  margin: 10px auto;
  font-size: 23px;
  line-height: 20px;
}

.list{
  text-align: center;
}
.list h3{
  padding: 10px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 32px;
  font-weight: normal;
  padding-bottom: 6px;
}

.list li{
  padding: 4px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 22px;
  font-weight: normal;
}

#links-footer{
  padding-top: 20px ;
  text-decoration: underline;

}
#links-footer a:hover{
  text-decoration: underline;
  color: white;
  transition: color 200 ms;
}

.cards{
  margin: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  height: 400px;
}

.image-container img{
  width: 400px;
  height: 300px;
} 



.card__info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px auto;
}

.card__info{
  height: 100px;
  padding: 10px;
  text-align: center;
  
}
.card__info p{
  color: black;
  font-size:30px;
  font-weight: 900;
}

.card__modules{
  font-size:20px;
  font-weight: 900;
}
.card__price{
  font-size:20px;
  font-weight: 900;
}

.modal-overlay{
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal{
  background-color: white;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
}

.modal.maximize{
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/* .modal.minimize{
  background-color: white;
  width: 0%;
  height: 0%;
  margin: 0 auto;
  position: relative;
  opacity: 1;
  visibility: visible;
} */

.modal .close-modal{
  color: black;
  position: absolute;
  right: 12px;
  top: 8px;
  cursor: pointer;/*muda de seta para mãozinha quando a seta está sob elemento*/
}

.modal .maximize-modal{
  color: black;
  position: absolute;
  right: 44px;
  top: 11px;
  cursor: pointer;/*muda de seta para mãozinha quando a seta está sob elemento*/
}

.modal .minimize-modal{
  color: black;
  position: absolute;
  right: 74px;
  top: 5px;
  cursor: pointer;/*muda de seta para mãozinha quando a seta está sob elemento*/
}

/* ==== MODAL.ACTIVE==== */

.modal-overlay.active{
  opacity: 1;
  visibility: visible;
}

iframe{
  width: 100%;
  height: 90%;
  position: absolute;
  top: 5%;

}