:root{
  --color-green: #50fa7b
}

*{
  padding: 0px;
  border: 0px;
  margin: 0px;
}

body{
  background: #282a36;
  color: rgb(255, 255, 255);
  font-family: 'Cambay', sans-serif;
  margin-bottom: 50px;
}

header{
  padding: 20px;
  border-bottom:1px solid #333;
  background: rgba(0, 0, 0, 0.1);
}

.links{
 text-align: center; 

}
.links a{
  color: rgba(29, 250, 0, 0.685);
  font-size: 24px;
  line-height: 28px;
  margin: 0 10px;
  padding-bottom: 3px;
  text-decoration: none;

}
.links a:hover{
  color: var(--color-green);
  transition: color 200 ms;
}

#wrapper{
  text-align: center;
  padding: 32px;
}

#wrapper img{
  border-radius: 150px;
  border: 2px solid  var(--color-green);
  margin-bottom: 32px;
  height: 300px;
}

#wrapper h1{
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
}

#wrapper h2{
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 8px;
  opacity: 0.95;
}

#wrapper p{
  max-width: 600px;
  margin: 32px auto;
  font-size: 24px;
  line-height: 34px;
}

#wrapper p a{
  color:  var(--color-green);
}

#links-footer a{
  text-decoration: underline;
}